<h1>Choose a delivery method </h1>
<div class="row">
    <div class="col-sm-6">
        <a href="/storePickUp" role="button" class="btn btn-success btn-lg">Store pickup</a>
    </div>
    <div class="col-sm-6">
        OR
    </div>
    <div class="col-sm-6">
        <a href="/homeDelivery" role="button" class="btn btn-success btn-lg">Home Delivery</a>
    </div>
</div>
