<div class="container">
    <div>
        <section class="container-fluid text-center">
            <div class="col-md-4">
                <div class="thumbnail"><img src="{{orders.image}}" alt="{{orders.name}}" class="img-responsive"/></div>
                <hr/>
                <div class="row">
                    <div class="well">
                        <h3>{{orders.name}}</h3>
                        <p>{{orders.description}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>