<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Welcome,</h1>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION-->
        <div class="col-sm-6">
            <div class="well"><a href="/orders">Order history</a></div>
        </div>
    </div>
</div>